body{
  background-color: #c3c3c3;
  font-weight: 600;
}

h1 {
  text-align: center;
}


#show-contact {
  display: none;
  margin-top: 301px;
  background-color:rgb(79, 236, 233);
  border-radius:15px;rgb(187, 181, 183);
  border: 3px solid grey;
  padding:10px;
  display:none;
  width: 49.2%;
}

.jumbotron {
  background-color:rgb(79, 236, 233);
  border-radius:15px;rgb(187, 181, 183);
  border: 3px solid grey;
}

form{
  background-color:rgb(79, 236, 233);
  border-radius:15px;rgb(187, 181, 183);
  border: 3px solid grey;
  width: 49.2%;
  display:inline-block;
  float:left;
  padding:10px;
}

#landingZone {
  background-color:rgb(79, 236, 233);
  border-radius:15px;rgb(187, 181, 183);
  border: 3px solid grey;
  width: 49%;
  padding:10px;
  float:right;
}

li {
list-style-type: none;
}

input {
width: 100%;
}
